.vs/
.idea/

*.ndproj
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.pem
*.lib
*.sbr
*ncrunchproject
*ncrunchsolution
*.orig
*nCrunchTemp_*
*NDependOut*
*coverage*

[Oo]bj/
[Bb]in/
[Tt]est[Rr]esult*
_ReSharper*/
Output/
packages/
Build/
Artifacts/
Releases/
NuGets/
Publish/
Publish_*/
Published/
TestArtifacts/

UpgradeLog*.htm
Thumbs.db

*.nupkg